
    <section class="card-container">
      <div class="card">
        <picture class="card__img-container">
         
            <img class="card__image" src="//images.unsplash.com/photo-1628012209120-d9db7abf7eab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGhvdXNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"/>            
          
          
        </picture>
        <div class="card__text-container">
          <p class="card__article">House</p>
          <h1 class="card__article-name">House near the beach</h1>
          <p class="card__article-description">It has a wonderful view of the beach and consists of 4 bedrooms,
             2 bathrooms, a kitchen, and it also has a swimming pool.</p>
          <div class="card__price-section">
            <p class="card__promotion-price">100.000 DH</p>
          </div>
          <a class="card__button" routerLink="/housedetails" [queryParams]="{id:10}"><i class="fa-solid fa-basket-shopping"></i>More Details >>></a>
        </div>
      </div>

      <div class="card">
        <picture class="card__img-container">
         
            <img class="card__image" src="//images.unsplash.com/photo-1628012209120-d9db7abf7eab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGhvdXNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"/>            
          
          
        </picture>
        <div class="card__text-container">
          <p class="card__article">House</p>
          <h1 class="card__article-name">House near the beach</h1>
          <p class="card__article-description">It has a wonderful view of the beach and consists of 4 bedrooms,
             2 bathrooms, a kitchen, and it also has a swimming pool.</p>
          <div class="card__price-section">
            <p class="card__promotion-price">100.000 DH</p>
          </div>
          <a class="card__button" routerLink="/housedetails" [queryParams]="{id:10}"><i class="fa-solid fa-basket-shopping"></i>More Details >>></a>
        </div>
      </div>


      <div class="card">
        <picture class="card__img-container">
         
            <img class="card__image" src="//images.unsplash.com/photo-1628012209120-d9db7abf7eab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGhvdXNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"/>            
          
          
        </picture>
        <div class="card__text-container">
          <p class="card__article">House</p>
          <h1 class="card__article-name">House near the beach</h1>
          <p class="card__article-description">It has a wonderful view of the beach and consists of 4 bedrooms,
             2 bathrooms, a kitchen, and it also has a swimming pool.</p>
          <div class="card__price-section">
            <p class="card__promotion-price">100.000 DH</p>
          </div>
          <a class="card__button" routerLink="/housedetails" [queryParams]="{id:10}"><i class="fa-solid fa-basket-shopping"></i>More Details >>></a>
        </div>
      </div>


      <div class="card">
        <picture class="card__img-container">
         
            <img class="card__image" src="//images.unsplash.com/photo-1628012209120-d9db7abf7eab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGhvdXNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"/>            
          
          
        </picture>
        <div class="card__text-container">
          <p class="card__article">House</p>
          <h1 class="card__article-name">House near the beach</h1>
          <p class="card__article-description">It has a wonderful view of the beach and consists of 4 bedrooms,
             2 bathrooms, a kitchen, and it also has a swimming pool.</p>
          <div class="card__price-section">
            <p class="card__promotion-price">100.000 DH</p>
          </div>
          <a class="card__button" routerLink="/housedetails" [queryParams]="{id:10}"><i class="fa-solid fa-basket-shopping"></i>More Details >>></a>
        </div>
      </div>


      <div class="card">
        <picture class="card__img-container">
         
            <img class="card__image" src="//images.unsplash.com/photo-1628012209120-d9db7abf7eab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGhvdXNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"/>            
          
          
        </picture>
        <div class="card__text-container">
          <p class="card__article">House</p>
          <h1 class="card__article-name">House near the beach</h1>
          <p class="card__article-description">It has a wonderful view of the beach and consists of 4 bedrooms,
             2 bathrooms, a kitchen, and it also has a swimming pool.</p>
          <div class="card__price-section">
            <p class="card__promotion-price">100.000 DH</p>
          </div>
          <a class="card__button" routerLink="/housedetails" [queryParams]="{id:10}"><i class="fa-solid fa-basket-shopping"></i>More Details >>></a>
        </div>
      </div>
    </section>



